// Variables

$blue: #31b7ba;
$red: #ff5b55;
$grey: #7f7f7f;
$grey-medium: #999999;
$grey-light: #c2c2c2;
$yellow: #f1c018;
$violet: #a559b6;
$white: #fff;



// Breakpointsss
@mixin xs {
  @media (max-width:576px) {
	@content;
  }
}
@mixin sm {
  @media (max-width:768px) {
	@content;
  }
}
@mixin md {
  @media (max-width:992px) {
	@content;
  }
}
@mixin lg {
  @media (max-width:1200px) {
	@content;
  }
}

@mixin xlg {
  @media (min-width:1201px) {
  @content;
  }
}
